In [47]:
# loeme sisse document-term matrix
import pandas as pd

data = pd.read_pickle('pickles/ignitisdtm.pkl')
data = data.transpose()
data.head()

,ignitis2020_q1_en_eur_con_ias.txt,ignitis2020_q2_en_eur_con_ias.txt,ignitis2020_q2_en_eur_con_ias_00.txt,ignitis2020_q3_en_eur_con_ias.txt
ab,52,134,133,185
abbr,2,0,2,2
abbreviation,1,1,1,0
ability,0,2,0,0
able,1,3,6,4

In [38]:
top_dict = {}
for c in data.columns:
    top = data[c].sort_values(ascending=False).head(40)
    top_dict[c]= list(zip(top.index, top.values))

top_dict

{'ignitis2020_q1_en_eur_con_ias.txt': [('company', 262),
  ('group', 245),
  ('eur', 210),
  ('electricity', 188),
  ('ignitis', 182),
  ('financial', 181),
  ('uab', 167),
  ('million', 148),
  ('interim', 143),
  ('gas', 131),
  ('board', 131),
  ('current', 107),
  ('vilnius', 100),
  ('management', 97),
  ('statements', 93),
  ('net', 90),
  ('adjusted', 89),
  ('revenue', 88),
  ('generation', 86),
  ('assets', 86),
  ('lithuania', 83),
  ('companys', 82),
  ('customers', 79),
  ('non', 78),
  ('apm', 78),
  ('income', 76),
  ('march', 74),
  ('member', 73),
  ('report', 72),
  ('period', 72),
  ('distribution', 69),
  ('ebitda', 67),
  ('contents', 65),
  ('cash', 65),
  ('profit', 65),
  ('twh', 63),
  ('quarter', 63),
  ('activities', 63),
  ('related', 62),
  ('condensed', 61)],
 'ignitis2020_q2_en_eur_con_ias.txt': [('company', 369),
  ('eur', 278),
  ('ignitis', 253),
  ('financial', 222),
  ('group', 210),
  ('million', 186),
  ('uab', 181),
  ('interim', 174),
  ('electricity', 167),
  ('board', 151),
  ('ab', 134),
  ('june', 130),
  ('management', 122),
  ('statements', 118),
  ('companys', 117),
  ('period', 111),
  ('vilnius', 104),
  ('lithuania', 104),
  ('gas', 102),
  ('report', 101),
  ('yes', 100),
  ('shares', 99),
  ('energy', 92),
  ('total', 89),
  ('adjusted', 89),
  ('current', 83),
  ('cash', 83),
  ('generation', 82),
  ('apm', 80),
  ('increased', 78),
  ('condensed', 77),
  ('twh', 77),
  ('assets', 76),
  ('member', 74),
  ('net', 74),
  ('supervisory', 74),
  ('reporting', 73),
  ('activities', 73),
  ('ebitda', 73),
  ('distribution', 73)],
 'ignitis2020_q2_en_eur_con_ias_00.txt': [('group', 337),
  ('company', 294),
  ('financial', 292),
  ('eur', 275),
  ('electricity', 275),
  ('ignitis', 255),
  ('interim', 211),
  ('million', 191),
  ('gas', 180),
  ('june', 175),
  ('lithuania', 167),
  ('statements', 167),
  ('board', 150),
  ('management', 149),
  ('assets', 138),
  ('uab', 134),
  ('ab', 133),
  ('period', 131),
  ('current', 130),
  ('year', 122),
  ('vilnius', 122),
  ('cash', 120),
  ('income', 118),
  ('total', 117),
  ('consolidated', 116),
  ('non', 116),
  ('customers', 116),
  ('net', 113),
  ('expenses', 112),
  ('distribution', 110),
  ('activities', 106),
  ('related', 104),
  ('profit', 102),
  ('adjusted', 101),
  ('revenue', 101),
  ('energy', 100),
  ('yes', 100),
  ('condensed', 99),
  ('value', 99),
  ('generation', 97)],
 'ignitis2020_q3_en_eur_con_ias.txt': [('company', 384),
  ('group', 339),
  ('financial', 324),
  ('eur', 306),
  ('ignitis', 302),
  ('electricity', 282),
  ('uab', 257),
  ('september', 239),
  ('interim', 211),
  ('million', 201),
  ('period', 201),
  ('companys', 198),
  ('statements', 185),
  ('ab', 185),
  ('lithuania', 180),
  ('gas', 177),
  ('assets', 155),
  ('current', 152),
  ('cash', 146),
  ('vilnius', 141),
  ('https', 135),
  ('months', 135),
  ('management', 134),
  ('non', 131),
  ('shares', 131),
  ('en', 128),
  ('income', 127),
  ('expenses', 126),
  ('com', 120),
  ('total', 120),
  ('consolidated', 119),
  ('nasdaqbaltic', 118),
  ('statistics', 117),
  ('news', 117),
  ('customers', 112),
  ('condensed', 111),
  ('related', 109),
  ('net', 109),
  ('adjusted', 109),
  ('distribution', 109)]}

In [39]:

# top 15 sõna
for quarters, top_words in top_dict.items():
    print(quarters)
    print(', '.join([word for word, count in top_words[0:14]]))
    print('---')

ignitis2020_q1_en_eur_con_ias.txt
company, group, eur, electricity, ignitis, financial, uab, million, interim, gas, board, current, vilnius, management
---
ignitis2020_q2_en_eur_con_ias.txt
company, eur, ignitis, financial, group, million, uab, interim, electricity, board, ab, june, management, statements
---
ignitis2020_q2_en_eur_con_ias_00.txt
group, company, financial, eur, electricity, ignitis, interim, million, gas, june, lithuania, statements, board, management
---
ignitis2020_q3_en_eur_con_ias.txt
company, group, financial, eur, ignitis, electricity, uab, september, interim, million, period, companys, statements, ab
---

In [40]:
# Look at the most common top words --> add them to the stop word list
from collections import Counter

# Let's first pull out the top 30 words for each quarter
words = []
for quarters in data.columns:
    top = [word for (word, count) in top_dict[quarters]]
    for t in top:
        words.append(t)
words

['company',
 'group',
 'eur',
 'electricity',
 'ignitis',
 'financial',
 'uab',
 'million',
 'interim',
 'gas',
 'board',
 'current',
 'vilnius',
 'management',
 'statements',
 'net',
 'adjusted',
 'revenue',
 'generation',
 'assets',
 'lithuania',
 'companys',
 'customers',
 'non',
 'apm',
 'income',
 'march',
 'member',
 'report',
 'period',
 'distribution',
 'ebitda',
 'contents',
 'cash',
 'profit',
 'twh',
 'quarter',
 'activities',
 'related',
 'condensed',
 'company',
 'eur',
 'ignitis',
 'financial',
 'group',
 'million',
 'uab',
 'interim',
 'electricity',
 'board',
 'ab',
 'june',
 'management',
 'statements',
 'companys',
 'period',
 'vilnius',
 'lithuania',
 'gas',
 'report',
 'yes',
 'shares',
 'energy',
 'total',
 'adjusted',
 'current',
 'cash',
 'generation',
 'apm',
 'increased',
 'condensed',
 'twh',
 'assets',
 'member',
 'net',
 'supervisory',
 'reporting',
 'activities',
 'ebitda',
 'distribution',
 'group',
 'company',
 'financial',
 'eur',
 'electricity',
 'ignitis',
 'interim',
 'million',
 'gas',
 'june',
 'lithuania',
 'statements',
 'board',
 'management',
 'assets',
 'uab',
 'ab',
 'period',
 'current',
 'year',
 'vilnius',
 'cash',
 'income',
 'total',
 'consolidated',
 'non',
 'customers',
 'net',
 'expenses',
 'distribution',
 'activities',
 'related',
 'profit',
 'adjusted',
 'revenue',
 'energy',
 'yes',
 'condensed',
 'value',
 'generation',
 'company',
 'group',
 'financial',
 'eur',
 'ignitis',
 'electricity',
 'uab',
 'september',
 'interim',
 'million',
 'period',
 'companys',
 'statements',
 'ab',
 'lithuania',
 'gas',
 'assets',
 'current',
 'cash',
 'vilnius',
 'https',
 'months',
 'management',
 'non',
 'shares',
 'en',
 'income',
 'expenses',
 'com',
 'total',
 'consolidated',
 'nasdaqbaltic',
 'statistics',
 'news',
 'customers',
 'condensed',
 'related',
 'net',
 'adjusted',
 'distribution']

In [32]:
Counter(words).most_common()

[('company', 4),
 ('group', 4),
 ('eur', 4),
 ('electricity', 4),
 ('ignitis', 4),
 ('financial', 4),
 ('uab', 4),
 ('million', 4),
 ('interim', 4),
 ('gas', 4),
 ('current', 4),
 ('vilnius', 4),
 ('management', 4),
 ('statements', 4),
 ('lithuania', 4),
 ('period', 4),
 ('board', 3),
 ('assets', 3),
 ('companys', 3),
 ('non', 3),
 ('income', 3),
 ('ab', 3),
 ('total', 3),
 ('cash', 3),
 ('net', 2),
 ('adjusted', 2),
 ('generation', 2),
 ('customers', 2),
 ('apm', 2),
 ('report', 2),
 ('june', 2),
 ('shares', 2),
 ('expenses', 2),
 ('revenue', 1),
 ('march', 1),
 ('member', 1),
 ('yes', 1),
 ('energy', 1),
 ('increased', 1),
 ('year', 1),
 ('consolidated', 1),
 ('distribution', 1),
 ('september', 1),
 ('https', 1),
 ('months', 1),
 ('en', 1),
 ('com', 1)]

In [64]:
add_stop_words = [word for word, count in Counter(words).most_common() if count > 3]
add_stop_words.extend(['žvejų','žaneta','žilvista','živilė','šalys','šarūnas','žukauskas','žūb','įmonės','świnoujście','šiaulių'])
add_stop_words

['company',
 'group',
 'eur',
 'electricity',
 'ignitis',
 'financial',
 'uab',
 'million',
 'interim',
 'gas',
 'current',
 'vilnius',
 'management',
 'statements',
 'net',
 'adjusted',
 'assets',
 'lithuania',
 'period',
 'distribution',
 'cash',
 'condensed',
 'žvejų',
 'žaneta',
 'žilvista',
 'živilė',
 'šalys',
 'šarūnas',
 'žukauskas',
 'žūb',
 'įmonės',
 'świnoujście',
 'šiaulių']

In [65]:
from sklearn.feature_extraction import text 
from sklearn.feature_extraction.text import CountVectorizer

data_clean = pd.read_pickle('pickles/ignitisdata_clean.pkl')
# Add new stop words
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)


cv = CountVectorizer(stop_words=stop_words)
data_cv = cv.fit_transform(data_clean.text)
data_stop = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_stop.index = data_clean.index

# Pickling
import pickle
pickle.dump(cv, open("pickles/ignitiscv_stop.pkl", "wb"))
data_stop.to_pickle("pickles/ignitisdtm_stop.pkl")

In [48]:
qrtr = []
for quarters in data.columns:
    qrtr.append(quarters)
# Identify the non-zero items in the document-term matrix, meaning that the word occurs at least once
unique_list = []
for quarters in data.columns:
    uniques = data[quarters].to_numpy().nonzero()[0].size
    unique_list.append(uniques)

data_words = pd.DataFrame(list(zip(qrtr, unique_list)), columns=['quarters', 'unique_words'])
data_unique_sort = data_words.sort_values(by='unique_words')
data_unique_sort

                               quarters  unique_words
0     ignitis2020_q1_en_eur_con_ias.txt          2279
1     ignitis2020_q2_en_eur_con_ias.txt          2617
2  ignitis2020_q2_en_eur_con_ias_00.txt          2812
3     ignitis2020_q3_en_eur_con_ias.txt          2839

In [ ]:
#lisan ESG'le vastavad sõnad, mida hakkan otsima tekstidest

query_E = ['Biodiversity', 'Carbon','Cleantech','Clean' , 'Climate' , 'Coal' , 'Conservation' , 'Ecosystem' , 'Emission' , 'Energy' , 'Fuel' , 'Green' , 'Land' , 'Natural' , 'Pollution' , 'Renewable' , 'Resources' , 'Sustainability' , 'Sustainable' , 'Toxic' , 'Waste' , 'Water']
E = [x.lower() for x in query_E]
query_S = ['Accident' , 'Alcohol' , 'Anti-personnel' , 'Behavior', 'Charity','Community' , 'Controversial' , 'Controversy' , 'Discrimination' , 'Gambling' , 'Health' , 'Human capital' , 'Human rights' , 'Inclusion' , 'Injury' , 'Lab','Munitions' , 'Opposition' , 'Pay' , 'Philanthropic' , 'Quality' , 'Responsible']
S = [x.lower() for x in query_S]
query_G = ['Advocacy' , 'Bribery' , 'Compensation' , 'Competitive' ,'Corruption' , 'Divestment' , 'Fraud' , 'GRI', 'Independent' , 'Justice' , 'Stability' , 'Stewardship' , 'Transparency']
G = [x.lower() for x in query_G]

In [ ]:
print(G)

In [66]:

data2 = pd.read_pickle('pickles/ignitisdtm_stop.pkl')
data2 = data2.transpose()
data2

,ignitis2020_q1_en_eur_con_ias.txt,ignitis2020_q2_en_eur_con_ias.txt,ignitis2020_q2_en_eur_con_ias_00.txt,ignitis2020_q3_en_eur_con_ias.txt
ab,52,134,133,185
abbr,2,0,2,2
abbreviation,1,1,1,0
ability,0,2,0,0
able,1,3,6,4
...,...,...,...,...
young,1,4,4,1
yoy,0,2,2,4
zero,0,0,0,1
zone,1,1,2,1
zones,2,0,15,14

In [70]:
import pandas as pd

datacorp = pd.read_pickle('pickles/corpus.pkl')
datacorp

                                                                                   text
ignitis2020_q1_en_eur_con_ias.txt     interim report consolidated interim report for...
ignitis2020_q2_en_eur_con_ias.txt     interim report consolidated interim report for...
ignitis2020_q2_en_eur_con_ias_00.txt  interim report consolidated interim report for...
ignitis2020_q3_en_eur_con_ias.txt     interim report first nine months consolidated ...

In [73]:
# Create quick lambda functions to find the polarity and subjectivity of each routine
# Terminal / Anaconda Navigator: conda install -c conda-forge textblob
from textblob import TextBlob

pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity

datacorp['polarity'] = datacorp['text'].apply(pol)
datacorp['subjectivity'] = datacorp['text'].apply(sub)
datacorp

#Polarity: How positive or negative a word is. -1 is very negative. +1 is very positive.
#Subjectivity: How subjective, or opinionated a word is. 0 is fact. +1 is very much an opinion.

,text,polarity,subjectivity
ignitis2020_q1_en_eur_con_ias.txt,interim report consolidated interim report for...,0.031308,0.336926
ignitis2020_q2_en_eur_con_ias.txt,interim report consolidated interim report for...,0.041625,0.348202
ignitis2020_q2_en_eur_con_ias_00.txt,interim report consolidated interim report for...,0.036302,0.348236
ignitis2020_q3_en_eur_con_ias.txt,interim report first nine months consolidated ...,0.045000,0.353980