In [16]:
# loeme sisse document-term matrix
import pandas as pd

data = pd.read_pickle('pickles/merkodtm.pkl')
data = data.transpose()
data.head()

,merko2020_q1_en_eur_con_00.txt,merko2020_q2_en_eur_con_00.txt,merko2020_q3_en_eur_con_00.txt,merko2020_q4_en_eur_con_00.txt
aaspere,2,2,2,0
ab,1,1,1,1
abated,1,0,0,0
able,0,2,1,1
abroad,1,1,1,1

In [17]:
top_dict = {}
for c in data.columns:
    top = data[c].sort_values(ascending=False).head(40)
    top_dict[c]= list(zip(top.index, top.values))

top_dict

{'merko2020_q1_en_eur_con_00.txt': [('eur', 189),
  ('construction', 149),
  ('merko', 148),
  ('million', 127),
  ('ehitus', 109),
  ('group', 106),
  ('management', 98),
  ('months', 97),
  ('board', 91),
  ('thousand', 81),
  ('profit', 79),
  ('note', 76),
  ('total', 70),
  ('real', 61),
  ('estate', 60),
  ('interim', 57),
  ('supervisory', 56),
  ('revenue', 56),
  ('consolidated', 55),
  ('development', 55),
  ('report', 55),
  ('income', 53),
  ('operating', 52),
  ('cash', 50),
  ('current', 48),
  ('estonia', 47),
  ('tax', 45),
  ('general', 41),
  ('assets', 41),
  ('activities', 40),
  ('equity', 39),
  ('march', 39),
  ('groups', 39),
  ('period', 38),
  ('share', 38),
  ('company', 37),
  ('shareholders', 37),
  ('lithuania', 36),
  ('tallinn', 36),
  ('incl', 35)],
 'merko2020_q2_en_eur_con_00.txt': [('eur', 213),
  ('merko', 148),
  ('million', 148),
  ('construction', 146),
  ('group', 110),
  ('ehitus', 108),
  ('months', 107),
  ('management', 94),
  ('profit', 88),
  ('board', 88),
  ('thousand', 84),
  ('note', 79),
  ('total', 75),
  ('revenue', 74),
  ('real', 63),
  ('development', 62),
  ('estate', 61),
  ('income', 60),
  ('interim', 58),
  ('consolidated', 56),
  ('report', 56),
  ('operating', 54),
  ('cash', 54),
  ('supervisory', 54),
  ('tax', 49),
  ('incl', 44),
  ('assets', 43),
  ('current', 42),
  ('estonia', 41),
  ('term', 41),
  ('share', 40),
  ('equity', 40),
  ('general', 40),
  ('activities', 40),
  ('apartments', 39),
  ('dividends', 38),
  ('shares', 37),
  ('company', 37),
  ('shareholders', 37),
  ('financial', 36)],
 'merko2020_q3_en_eur_con_00.txt': [('eur', 203),
  ('merko', 144),
  ('million', 137),
  ('construction', 129),
  ('ehitus', 105),
  ('group', 102),
  ('months', 102),
  ('management', 99),
  ('board', 93),
  ('profit', 91),
  ('thousand', 84),
  ('note', 80),
  ('total', 74),
  ('revenue', 68),
  ('income', 60),
  ('development', 59),
  ('real', 59),
  ('estate', 59),
  ('interim', 56),
  ('tax', 56),
  ('supervisory', 55),
  ('cash', 54),
  ('report', 54),
  ('operating', 54),
  ('consolidated', 54),
  ('incl', 46),
  ('assets', 43),
  ('current', 42),
  ('estonia', 42),
  ('equity', 40),
  ('dividends', 40),
  ('share', 40),
  ('apartments', 40),
  ('activities', 40),
  ('company', 40),
  ('term', 39),
  ('shareholders', 37),
  ('shares', 37),
  ('general', 36),
  ('related', 36)],
 'merko2020_q4_en_eur_con_00.txt': [('eur', 201),
  ('merko', 163),
  ('million', 147),
  ('construction', 142),
  ('ehitus', 123),
  ('group', 116),
  ('management', 105),
  ('board', 105),
  ('profit', 90),
  ('months', 85),
  ('note', 83),
  ('total', 75),
  ('thousand', 74),
  ('tax', 65),
  ('development', 65),
  ('revenue', 64),
  ('income', 63),
  ('supervisory', 61),
  ('estate', 59),
  ('real', 59),
  ('cash', 56),
  ('interim', 56),
  ('consolidated', 55),
  ('report', 54),
  ('operating', 52),
  ('current', 46),
  ('apartments', 46),
  ('share', 45),
  ('incl', 43),
  ('assets', 43),
  ('dividends', 43),
  ('estonia', 42),
  ('company', 41),
  ('term', 41),
  ('shareholders', 41),
  ('equity', 40),
  ('related', 39),
  ('activities', 39),
  ('shares', 38),
  ('financial', 37)]}

In [18]:

# top 15 sõna
for quarters, top_words in top_dict.items():
    print(quarters)
    print(', '.join([word for word, count in top_words[0:14]]))
    print('---')

merko2020_q1_en_eur_con_00.txt
eur, construction, merko, million, ehitus, group, management, months, board, thousand, profit, note, total, real
---
merko2020_q2_en_eur_con_00.txt
eur, merko, million, construction, group, ehitus, months, management, profit, board, thousand, note, total, revenue
---
merko2020_q3_en_eur_con_00.txt
eur, merko, million, construction, ehitus, group, months, management, board, profit, thousand, note, total, revenue
---
merko2020_q4_en_eur_con_00.txt
eur, merko, million, construction, ehitus, group, management, board, profit, months, note, total, thousand, tax
---

In [19]:
# kõige sagedasemad sõnad -->  stop word listi
from collections import Counter

# top 30 sõna iga kvartali kohta
words = []
for quarters in data.columns:
    top = [word for (word, count) in top_dict[quarters]]
    for t in top:
        words.append(t)
words

['eur',
 'construction',
 'merko',
 'million',
 'ehitus',
 'group',
 'management',
 'months',
 'board',
 'thousand',
 'profit',
 'note',
 'total',
 'real',
 'estate',
 'interim',
 'supervisory',
 'revenue',
 'consolidated',
 'development',
 'report',
 'income',
 'operating',
 'cash',
 'current',
 'estonia',
 'tax',
 'general',
 'assets',
 'activities',
 'equity',
 'march',
 'groups',
 'period',
 'share',
 'company',
 'shareholders',
 'lithuania',
 'tallinn',
 'incl',
 'eur',
 'merko',
 'million',
 'construction',
 'group',
 'ehitus',
 'months',
 'management',
 'profit',
 'board',
 'thousand',
 'note',
 'total',
 'revenue',
 'real',
 'development',
 'estate',
 'income',
 'interim',
 'consolidated',
 'report',
 'operating',
 'cash',
 'supervisory',
 'tax',
 'incl',
 'assets',
 'current',
 'estonia',
 'term',
 'share',
 'equity',
 'general',
 'activities',
 'apartments',
 'dividends',
 'shares',
 'company',
 'shareholders',
 'financial',
 'eur',
 'merko',
 'million',
 'construction',
 'ehitus',
 'group',
 'months',
 'management',
 'board',
 'profit',
 'thousand',
 'note',
 'total',
 'revenue',
 'income',
 'development',
 'real',
 'estate',
 'interim',
 'tax',
 'supervisory',
 'cash',
 'report',
 'operating',
 'consolidated',
 'incl',
 'assets',
 'current',
 'estonia',
 'equity',
 'dividends',
 'share',
 'apartments',
 'activities',
 'company',
 'term',
 'shareholders',
 'shares',
 'general',
 'related',
 'eur',
 'merko',
 'million',
 'construction',
 'ehitus',
 'group',
 'management',
 'board',
 'profit',
 'months',
 'note',
 'total',
 'thousand',
 'tax',
 'development',
 'revenue',
 'income',
 'supervisory',
 'estate',
 'real',
 'cash',
 'interim',
 'consolidated',
 'report',
 'operating',
 'current',
 'apartments',
 'share',
 'incl',
 'assets',
 'dividends',
 'estonia',
 'company',
 'term',
 'shareholders',
 'equity',
 'related',
 'activities',
 'shares',
 'financial']

In [20]:
Counter(words).most_common()

[('eur', 4),
 ('construction', 4),
 ('merko', 4),
 ('million', 4),
 ('ehitus', 4),
 ('group', 4),
 ('management', 4),
 ('months', 4),
 ('board', 4),
 ('thousand', 4),
 ('profit', 4),
 ('note', 4),
 ('total', 4),
 ('real', 4),
 ('estate', 4),
 ('interim', 4),
 ('supervisory', 4),
 ('revenue', 4),
 ('consolidated', 4),
 ('development', 4),
 ('report', 4),
 ('income', 4),
 ('operating', 4),
 ('cash', 4),
 ('current', 4),
 ('estonia', 4),
 ('tax', 4),
 ('assets', 4),
 ('activities', 4),
 ('equity', 4),
 ('share', 4),
 ('company', 4),
 ('shareholders', 4),
 ('incl', 4),
 ('general', 3),
 ('term', 3),
 ('apartments', 3),
 ('dividends', 3),
 ('shares', 3),
 ('financial', 2),
 ('related', 2),
 ('march', 1),
 ('groups', 1),
 ('period', 1),
 ('lithuania', 1),
 ('tallinn', 1)]

In [21]:
add_stop_words = [word for word, count in Counter(words).most_common() if count > 3]
#add_stop_words.extend(['žvejų','žaneta','žilvista','živilė','šalys','šarūnas','žukauskas','žūb','įmonės','świnoujście','šiaulių'])
add_stop_words

['eur',
 'construction',
 'merko',
 'million',
 'ehitus',
 'group',
 'management',
 'months',
 'board',
 'thousand',
 'profit',
 'note',
 'total',
 'real',
 'estate',
 'interim',
 'supervisory',
 'revenue',
 'consolidated',
 'development',
 'report',
 'income',
 'operating',
 'cash',
 'current',
 'estonia',
 'tax',
 'assets',
 'activities',
 'equity',
 'share',
 'company',
 'shareholders',
 'incl']

In [22]:
qrtr = []
for quarters in data.columns:
    qrtr.append(quarters)
# Identify the non-zero items in the document-term matrix, meaning that the word occurs at least once
unique_list = []
for quarters in data.columns:
    uniques = data[quarters].to_numpy().nonzero()[0].size
    unique_list.append(uniques)

data_words = pd.DataFrame(list(zip(qrtr, unique_list)), columns=['quarters', 'unique_words'])
data_unique_sort = data_words.sort_values(by='unique_words')
data_unique_sort

                         quarters  unique_words
3  merko2020_q4_en_eur_con_00.txt          1569
2  merko2020_q3_en_eur_con_00.txt          1572
1  merko2020_q2_en_eur_con_00.txt          1643
0  merko2020_q1_en_eur_con_00.txt          1657

In [23]:
from sklearn.feature_extraction import text 
from sklearn.feature_extraction.text import CountVectorizer

data_clean = pd.read_pickle('pickles/merko.pkl')
# uued stopp sõnad
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)


cv = CountVectorizer(stop_words=stop_words)
data_cv = cv.fit_transform(data_clean.text)
data_stop = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_stop.index = data_clean.index

# Pickling
import pickle
pickle.dump(cv, open("pickles/merkocv_stop.pkl", "wb"))
data_stop.to_pickle("pickles/merkodtm_stop.pkl")

In [13]:

data2 = pd.read_pickle('pickles/merkodtm_stop.pkl')
data2 = data2.transpose()
data2

,merko2020_q1_en_eur_con_00.txt,merko2020_q2_en_eur_con_00.txt,merko2020_q3_en_eur_con_00.txt,merko2020_q4_en_eur_con_00.txt
aaspere,2,2,2,0
ab,1,1,1,1
abated,1,0,0,0
able,0,2,1,1
abroad,1,1,1,1
...,...,...,...,...
yield,2,2,2,3
zakusala,1,1,1,1
üksnurme,1,1,0,0
ādaži,0,0,2,4
šperbergs,2,1,1,1

In [14]:
import pandas as pd

datacorp = pd.read_pickle('pickles/merko.pkl')
datacorp

                                                                             text
merko2020_q1_en_eur_con_00.txt  as merko ehitus consolidated interim report as...
merko2020_q2_en_eur_con_00.txt  as merko ehitus consolidated interim report as...
merko2020_q3_en_eur_con_00.txt  as merko ehitus consolidated interim report as...
merko2020_q4_en_eur_con_00.txt  as merko ehitus consolidated interim report as...

In [24]:
# polaarsus ja subjektiivsus

from textblob import TextBlob

pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity

datacorp['polarity'] = datacorp['text'].apply(pol)
datacorp['subjectivity'] = datacorp['text'].apply(sub)
datacorp

#Polarity: How positive or negative a word is. -1 is very negative. +1 is very positive.
#Subjectivity: How subjective, or opinionated a word is. 0 is fact. +1 is very much an opinion.

,text,polarity,subjectivity
merko2020_q1_en_eur_con_00.txt,as merko ehitus consolidated interim report as...,0.043708,0.387994
merko2020_q2_en_eur_con_00.txt,as merko ehitus consolidated interim report as...,0.040831,0.391820
merko2020_q3_en_eur_con_00.txt,as merko ehitus consolidated interim report as...,0.033571,0.384846
merko2020_q4_en_eur_con_00.txt,as merko ehitus consolidated interim report as...,0.030493,0.385193