# Sõnade arvutamine

Võtan tekstidest kõik sõnad ja võrdlen neid etteantud sõnadega, mis on seotud ESG'ga. Defineeritud sõnapaketi võtsin internetist.

In [1000]:
import pandas as pd
import nltk
datacorp = pd.read_pickle('pickles/swed2016t2020.pkl')
datacorp['document'] = datacorp.index

query_G = 'Audit and control, Board structure, Remuneration, Shareholder rights, Transparency and Performance'
query_S = 'Access to medicines, HIV, AIDs, Nutrition, Product safety, Community relations, Privacy and free expression, Security, Weak, governance zones, Diversity, Health and safety, ILO core conventions, Supply chain labor standards, Bribery and corruption, Political influence, Responsible marketing, Whistle-blowing systems, disclosure and reporting, Governance of sustainability issues, Stakeholder engagement, UNGC compliance'
query_E = 'Biofuels, Climate ,Emissions ,land, Biodiversity, Water, Environmental, standards, Pollution, Supply, Waste, recycling'
datacorp

,text,document
Q1_16_eng.txt,delårsrapport för swedbank swedbank as estonia...,Q1_16_eng.txt
Q1_17_eng.txt,delårsrapport för swedbank swedbank as estonia...,Q1_17_eng.txt
Q1_18_eng.txt,delårsrapport för swedbank swedbank as estonia...,Q1_18_eng.txt
Q1_19_eng.txt,swedbank as swedbank as i interim report janua...,Q1_19_eng.txt
Q1_20_eng.txt,interim report january march swedbank as swedb...,Q1_20_eng.txt
Q2_16_eng.txt,delårsrapport för swedbank swedbank as estonia...,Q2_16_eng.txt
Q2_17_eng.txt,delårsrapport för swedbank swedbank as estonia...,Q2_17_eng.txt
Q2_18_eng.txt,interim report january june swedbank as swedba...,Q2_18_eng.txt
Q2_19_eng.txt,interim report january june swedbank as swedba...,Q2_19_eng.txt
Q2_20_eng.txt,interim report january june swedbank as swedba...,Q2_20_eng.txt
Q3_16_eng.txt,delårsrapport för swedbank swedbank as estonia...,Q3_16_eng.txt
Q3_17_eng.txt,delårsrapport för swedbank swedbank as estonia...,Q3_17_eng.txt
Q3_18_eng.txt,interim report january september swedbank as s...,Q3_18_eng.txt
Q3_19_eng.txt,interim report january september swedbank as s...,Q3_19_eng.txt
Q3_20_eng.txt,interim report january september swedbank as s...,Q3_20_eng.txt
Q4_16_eng.txt,delårsrapport för swedbank swedbank as estonia...,Q4_16_eng.txt
Q4_17_eng.txt,delårsrapport för swedbank swedbank as estonia...,Q4_17_eng.txt
Q4_18_eng.txt,interim report january december swedbank as sw...,Q4_18_eng.txt
Q4_19_eng.txt,interim report january december swedbank as sw...,Q4_19_eng.txt
Q4_20_eng.txt,interim report january december swedbank as sw...,Q4_20_eng.txt

In [1001]:
import json
import logging
from re import sub
from multiprocessing import cpu_count

import numpy as np

import gensim.downloader as api
from gensim.utils import simple_preprocess
from gensim.corpora import Dictionary
from gensim.models import TfidfModel
from gensim.models import WordEmbeddingSimilarityIndex
from gensim.similarities import SparseTermSimilarityMatrix
from gensim.similarities import SoftCosineSimilarity

In [1002]:
import logging

# logimine
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.WARNING)  # DEBUG # INFO

In [1003]:
import nltk

# stoppsõnad
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\marek.keskull\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [1004]:
#andmetest võtan andmepealkirjad ja tekstid nimetan dokumentideks

titles = [item for item in datacorp['document']]
documents = [item for item in datacorp['text']]


print(f'{len(documents)} documents')

20 documents

In [1005]:
def preprocess(doc):
    doc = doc.lower().split()
    stop_words = stopwords.words('english')
    doc = [w for w in doc if w not in stop_words]
    return doc

In [1006]:
import re 
import string
def preprocess_query(doc):
    doc = doc.lower().split()
    doc = [remove_punc(i) for i in doc]
    stop_words = stopwords.words('english')
    doc = [w for w in doc if w not in stop_words]
    return doc

In [1007]:
def remove_punc(string):
    punc = '''!()-[]{};:'"\, <>./?@#$%^&*_~'''
    for ele in string:  
        if ele in punc:  
            string = string.replace(ele, "") 
    return string

In [1075]:
corpus = [preprocess(document) for document in documents]

query = preprocess_query(query_E)
query

['biofuels',
 'climate',
 'emissions',
 'land',
 'biodiversity',
 'water',
 'environmental',
 'standards',
 'pollution',
 'supply',
 'waste',
 'recycling']

In [1076]:
%%time
#pre-trained embeddings
# glove vektoripakk, siin on 400000 vektorit sees 
#https://nlp.stanford.edu/projects/glove/

if 'glove' not in locals():  
    glove = api.load("glove-wiki-gigaword-50")

#print(glove.most_similar("remuneration"))

#A term similarity index that computes cosine similarities between word embeddings.
#1) Compute cosine similarities between word embeddings.
#2) Retrieve the closest word embeddings (by cosine similarity) to a given word embedding.

similarity_index = WordEmbeddingSimilarityIndex(glove)

Wall time: 0 ns

In [1077]:
dictionary = Dictionary(corpus+[query])
print(dictionary.get(8099))

None

In [1078]:
#ehitame TF-idf mudeli
    
#kõigepealt ehitame valmis andmesõnastiku, kus on sees kõik dokumendi sõnad ja otsingupäringu sõnad vormis: 'võti':'sõna'
dictionary = Dictionary(corpus+[query])
print(dictionary.get(455))

#This module implements functionality related to the 
#Term Frequency - Inverse Document Frequency vector space bag-of-words models.
tfidf = TfidfModel(dictionary=dictionary)
    
    
#Builds a sparse term similarity matrix using a term similarity index. 
similarity_matrix = SparseTermSimilarityMatrix(similarity_index, dictionary, tfidf, nonzero_limit=100)

liability

In [1079]:
dictionary = Dictionary(corpus+[query])
tfidf = TfidfModel(dictionary=dictionary)
print(dictionary.doc2bow(query))
print()
print(tfidf.__getitem__(dictionary.doc2bow(query),eps=0))

[(469, 1), (470, 1), (471, 1), (472, 1), (473, 1), (474, 1), (475, 1), (476, 1), (477, 1), (478, 1), (479, 1), (480, 1)]

[(469, 0.28867513459481287), (470, 0.28867513459481287), (471, 0.28867513459481287), (472, 0.28867513459481287), (473, 0.28867513459481287), (474, 0.28867513459481287), (475, 0.28867513459481287), (476, 0.28867513459481287), (477, 0.28867513459481287), (478, 0.28867513459481287), (479, 0.28867513459481287), (480, 0.28867513459481287)]

In [1080]:

query_tf = tfidf[dictionary.doc2bow(query)]
print(query_tf)

#Compute soft cosine similarity against a corpus of documents by storing the index matrix in memory.
index = SoftCosineSimilarity(tfidf[[dictionary.doc2bow(document) for document in corpus]],similarity_matrix)

doc_similarity_scores = index[query_tf]
print(doc_similarity_scores)

[(469, 0.28867513459481287), (470, 0.28867513459481287), (471, 0.28867513459481287), (472, 0.28867513459481287), (473, 0.28867513459481287), (474, 0.28867513459481287), (475, 0.28867513459481287), (476, 0.28867513459481287), (477, 0.28867513459481287), (478, 0.28867513459481287), (479, 0.28867513459481287), (480, 0.28867513459481287)]
[0.27431798 0.17771125 0.28758943 0.287723   0.28371674 0.2805964
 0.2858753  0.27897158 0.29564533 0.28451794 0.2805964  0.2858753
 0.27897155 0.29564533 0.28451794 0.2858753  0.28918618 0.2918557
 0.28451797 0.28451797]

In [1081]:

sorted_indexes = np.argsort(doc_similarity_scores)[::-1]
for idx in sorted_indexes[:30]:
    print(f'{idx} \t {doc_similarity_scores[idx]:0.6f} \t {titles[idx]}')

8 	 0.295645 	 Q2_19_eng.txt
13 	 0.295645 	 Q3_19_eng.txt
17 	 0.291856 	 Q4_18_eng.txt
16 	 0.289186 	 Q4_17_eng.txt
3 	 0.287723 	 Q1_19_eng.txt
2 	 0.287589 	 Q1_18_eng.txt
15 	 0.285875 	 Q4_16_eng.txt
11 	 0.285875 	 Q3_17_eng.txt
6 	 0.285875 	 Q2_17_eng.txt
19 	 0.284518 	 Q4_20_eng.txt
18 	 0.284518 	 Q4_19_eng.txt
9 	 0.284518 	 Q2_20_eng.txt
14 	 0.284518 	 Q3_20_eng.txt
4 	 0.283717 	 Q1_20_eng.txt
10 	 0.280596 	 Q3_16_eng.txt
5 	 0.280596 	 Q2_16_eng.txt
7 	 0.278972 	 Q2_18_eng.txt
12 	 0.278972 	 Q3_18_eng.txt
0 	 0.274318 	 Q1_16_eng.txt
1 	 0.177711 	 Q1_17_eng.txt

In [1082]:

doc_similar_terms = []
max_results_per_doc = 30
#query = ['audit', 'control', 'board', 'structure', 'remuneration', 'shareholder', 'rights', 'transparency', 'performance']
for term in query:
    #dictionary = Dictionary(corpus+[query])
    #dictionary is query + my corpus(which has 25 documents)

    idx1 = dictionary.token2id[term]
    for document in corpus:
        #print(document.name)
        results_this_doc = []
        for word in set(document):
            idx2 = dictionary.token2id[word]
            score = similarity_matrix.matrix[idx1, idx2]
            if score > 0.0:
                results_this_doc.append((word, score))
               
        results_this_doc = sorted(results_this_doc, reverse=True, key=lambda x: x[1])
        
        results_this_doc = results_this_doc[:min(len(results_this_doc), max_results_per_doc)]
        #print(results_this_doc)
        doc_similar_terms.append(results_this_doc)

In [1083]:
#esimese 15 dokumendi tulemused koos sarnaste sõnadega
results = []
for idx in sorted_indexes[:30]:
    
    similar_terms_string = ', '.join([result[0] for result in doc_similar_terms[idx]])
    
    results.append([idx,doc_similarity_scores[idx],titles[idx],similar_terms_string])
    print(f'{idx} \t {doc_similarity_scores[idx]:0.3f} \t {titles[idx]}  :  {similar_terms_string}')

8 	 0.296 	 Q2_19_eng.txt  :
13 	 0.296 	 Q3_19_eng.txt  :
17 	 0.292 	 Q4_18_eng.txt  :
16 	 0.289 	 Q4_17_eng.txt  :
3 	 0.288 	 Q1_19_eng.txt  :
2 	 0.288 	 Q1_18_eng.txt  :
15 	 0.286 	 Q4_16_eng.txt  :
11 	 0.286 	 Q3_17_eng.txt  :
6 	 0.286 	 Q2_17_eng.txt  :
19 	 0.285 	 Q4_20_eng.txt  :
18 	 0.285 	 Q4_19_eng.txt  :
9 	 0.285 	 Q2_20_eng.txt  :
14 	 0.285 	 Q3_20_eng.txt  :
4 	 0.284 	 Q1_20_eng.txt  :
10 	 0.281 	 Q3_16_eng.txt  :
5 	 0.281 	 Q2_16_eng.txt  :
7 	 0.279 	 Q2_18_eng.txt  :
12 	 0.279 	 Q3_18_eng.txt  :
0 	 0.274 	 Q1_16_eng.txt  :
1 	 0.178 	 Q1_17_eng.txt  :

In [1084]:
df = pd.DataFrame(results, columns=["Index of document", "Similarity score in environment topic","Document name","Most similar words in environment topic"])

In [1085]:
df

,Index of document,Similarity score in environment topic,Document name,Most similar words in environment topic
0,8,0.295645,Q2_19_eng.txt,
1,13,0.295645,Q3_19_eng.txt,
2,17,0.291856,Q4_18_eng.txt,
3,16,0.289186,Q4_17_eng.txt,
4,3,0.287723,Q1_19_eng.txt,
5,2,0.287589,Q1_18_eng.txt,
6,15,0.285875,Q4_16_eng.txt,
7,11,0.285875,Q3_17_eng.txt,
8,6,0.285875,Q2_17_eng.txt,
9,19,0.284518,Q4_20_eng.txt,
10,18,0.284518,Q4_19_eng.txt,
11,9,0.284518,Q2_20_eng.txt,
12,14,0.284518,Q3_20_eng.txt,
13,4,0.283717,Q1_20_eng.txt,
14,10,0.280596,Q3_16_eng.txt,
15,5,0.280596,Q2_16_eng.txt,
16,7,0.278972,Q2_18_eng.txt,
17,12,0.278972,Q3_18_eng.txt,
18,0,0.274318,Q1_16_eng.txt,
19,1,0.177711,Q1_17_eng.txt,

In [1086]:
import pickle
df.to_pickle('Environmentresults/Swedbank.pkl')

In [143]:
datacorpswed = pd.read_pickle('resultdata/swedsimilarityscores.pkl')
datacorpswed

,Order of similarity,Similarity score,Document name,Most similar words
0,1,0.264879,swedbankQ2_20_eng.txt,"critical, fax, bank"
1,2,0.267326,swedbankQ3_20_eng.txt,"critical, fax, bank"

In [144]:
datacorplhv = pd.read_pickle('resultdata/lhvsimilarityscores.pkl')
datacorplhv

,Order of similarity,Similarity score,Document name,Most similar words
0,1,0.261196,lhv2020_q1_en_eur_con_00.txt,"note, collection, operation"
1,2,0.040926,lhv2020_q2_en_eur_00_00.txt,
2,3,0.267063,lhv2020_q2_en_eur_con_00.txt,"note, collection"
3,0,0.040926,lhv2020_q1_en_eur_00_00.txt,

In [6]:
import pickle
databank = pd.read_pickle('annualresults/2019banksimilarityscores.pkl')
databank

,Index of document,Similarity score,Document name,Most similar words
0,1,0.431862,lhv_annual_2019.txt,"biodiversity, conservation, ecological, sustai..."
1,2,0.486714,seb_annual_report_2019.txt,"ecosystem, conservation, ecosystems, sustainab..."
2,3,0.518059,swedannual2019.txt,"conservation, sustainable, sustainability, div..."
3,0,0.461859,annual_report_2019_luminor.txt,"ecological, sustainable, sustainability, diver..."

In [27]:
#valideerimine näiteks balti pankade uuring: https://www.estwatch.ee/wp-content/uploads/2020/02/Vastutustundlikkus-Eesti-panganduses-Estwatch.pdf

In [195]:
from docsim import DocSim
import docsim

In [196]:
%%time

docsim_obj = docsim.DocSim(verbose=True)
# docsim_obj = docsim.DocSim_threaded(verbose=True)

Loading default GloVe word vector model: glove-wiki-gigaword-50
Model loaded
Wall time: 28.1 s

In [197]:
print(f'Model ready: {docsim_obj.model_ready}')

Model ready: True

In [198]:

titles = [item for item in datacorp['document']]
documents = [item for item in datacorp['text']]

print(f'{len(documents)} documents')

query_string = 'Audit and control, Board structure, Remuneration, Shareholder rights, Transparency and Performance'

6 documents

In [199]:
%%time

similarities = docsim_obj.similarity_query(query_string, documents)

6 documents loaded into corpus
Wall time: 36.3 s

C:\Users\marek.keskull\Anaconda3\lib\site-packages\gensim\similarities\termsim.py:358: RuntimeWarning: divide by zero encountered in true_divide
  Y = np.multiply(Y, 1 / np.sqrt(Y_norm))
C:\Users\marek.keskull\Anaconda3\lib\site-packages\gensim\similarities\termsim.py:358: RuntimeWarning: invalid value encountered in multiply
  Y = np.multiply(Y, 1 / np.sqrt(Y_norm))

In [200]:
for idx, score in (sorted(enumerate(similarities), reverse=True, key=lambda x: x[1])[:15]):
    print(f'{idx} \t {score:0.3f} \t {titles[idx]}')

3 	 0.547 	 lhv2020_q2_en_eur_con_00.txt
5 	 0.535 	 lhv2020_q3_en_eur_con_00.txt
1 	 0.524 	 lhv2020_q1_en_eur_con_00.txt
4 	 0.355 	 lhv2020_q3_en_eur_00_00.txt
0 	 0.000 	 lhv2020_q1_en_eur_00_00.txt
2 	 0.000 	 lhv2020_q2_en_eur_00_00.txt

[0.0, 0.5235986709594727, 0.0, 0.5465497970581055, 0.3552752733230591, 0.5345579385757446]